.links-header:hover {
    color: #d88bce;
    transition: 200ms;
}

.card:hover {
    transform: scale(1.15);
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.75);
    transition: 400ms;
}

.skills:hover {
    transform: translateY(-25px) scale(1.2);
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.75);
    transition: 400ms;
}

.card-port:hover{
    transform: scale(1.1);
    transition: 400ms;
}

.card-port a:hover{
    background: #A60067;
    transition: 400ms;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.75);
}

input:hover {
    background: wheat;
    transition: 400ms;
}

.btn-send:hover {
    background: #c6c15c;
    transition: 400ms;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.75);
}

.links-container-footer a img:hover {
    background: rgba(0, 0, 0, 0.461);
    transition: 400ms;
    transform: translateY(-10px);
}